<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title><%=title %></title>
    <link rel="stylesheet" href="/style.css" />
  </head>
  <body>
    <div class="container">
      <h1><%= title %></h1>
      <p class="subtitle">Share your thoughts with the community</p>
      <a id="new_messages" href="new">
        <button>New Messages</button>
      </a>
      <div class="message-container">
        <% messages.forEach(function(user){ %>
        <div class="card">
          <div class="header">
            <div>
              <h2><%= user.user %></h2>
              <p class="date"><%= user.added %></p>
            </div>
            <p class="id">Message #<%= user.id %></p>
          </div>
          <p class="text"><%= user.text %></p>

          <a id="view-details" href="/message/<%= user.id %>">
            <button>view details</button>
          </a>
        </div>
        <% }); %>
      </div>
      <p class="text-gray-500">
        Built with ❤️ by
        <a
          href="https://github.com/ab-0d"
          target="_blank"
          rel="noopener noreferrer"
          class="text-blue-500 hover:underline"
        >
          Abdullah
        </a>
      </p>
    </div>
  </body>
</html>
